.set1{
    color: chocolate;
    width: 200px;
    height: 300px;
}
.set2{
    color: blue;
    font-size: 25px;
}
#div1{
    background-color: rgb(172, 226, 37);
    width: 200px;
    height: 250px;
    margin: 250px 300px;
    border-radius: 4px;
   border: 5px solid black ;
}
#div2{
    background-color: rgb(27, 22, 193);
    height: 120px;
    width: 570px;
    margin-left: 150px;
    border: 4px dotted green;
    border-right: 5px;
    margin-bottom: 150px;
}
#div3{
    background-color: darksalmon;
    width: 740px;
    height: 415px;
    margin: 120px;
    border: 12px double blue;
    border-radius: 10px;
}
